{% extends 'vehiculos.html' %}
{% block vehiculos_content %}
<div class="tarjeta tarjeta-registro sombra-luz">
    <section class="titulo-tarjeta fila">
        <i class="fa-solid fa-trash-can"></i>
        <h3>Eliminar vehículo</h3>
    </section>
    <form id="registro-db" class="columna"  action="{% url 'eliminar_vehiculo' vehiculo.id %}" method="post">
        {% csrf_token %}
        <dv class="fila seccion-info">
            <div id="registro-seccion-1" class="columna">
                <section class="columna">
                    <div class="titulo-seccion fila">
                        <i class="fa-solid fa-bus"></i>
                        <h3>Datos Vehículo</h3>
                    </div>
                    <div class="campos columna">
                        <section class="campo-registro">
                            <input class="input-registro" name="patente_vehiculo" placeholder="" value="{{ vehiculo.patente|upper }}" disabled>
                            <label class="lablel-registro">Patente</label>
                        </section>
                        <section class="campo-registro">
                            <input class="input-registro parentezco cel" name="asientos_vehiculo" placeholder="" value="{{ vehiculo.cant_asientos }}" disabled>
                            <label class="lablel-registro">Cant. de asientos</label>
                        </section>
                    </div>
                </section>
            </div>
            <div id="registro-seccion-2" class="columna">
                <section class="columna">
                    <div class="titulo-seccion fila">
                        <i class="fa-solid fa-address-card"></i>
                        <h3>Chofer asignado</h3>
                    </div>
                    <div class="campos columna estado-m">
                        <section class="campo-registro columna">
                            <select name="opcion_chofer" class="select-registro" disabled>
                                <option value="Ninguno" {% if vehiculo.chofer.id == Null %}selected{% endif %}>Ninguno</option>
                                <option value="{{ vehiculo.chofer.id }}"{% if vehiculo.chofer %}selected{% endif %}>{{vehiculo.chofer.id}} - {{vehiculo.chofer.nombre}} {{vehiculo.chofer.apellido}}</option>
                            </select>
                        </section>
                    </div>
                </section>
            </div>
            <div id="registro-seccion-3" class="columna">
                <section class="columna">
                    <div class="titulo-seccion fila">
                        <i class="fa-solid fa-address-card"></i>
                        <h3>Celador asignado</h3>
                    </div>
                    <div class="campos columna estado-m">
                        <section class="campo-registro columna">
                            <select name="opcion_celador" class="select-registro" disabled>
                                <option value="Ninguno" {% if vehiculo.celador.id == Null %}selected{% endif %}>Ninguno</option>
                                <option value="{{ vehiculo.celador.id }}"{% if vehiculo.celador %}selected{% endif %}>{{vehiculo.celador.id}} - {{vehiculo.celador.nombre}} {{vehiculo.celador.apellido}}</option>
                            </select>
                        </section>
                    </div>
                </section>
            </div>
            <div id="registro-seccion-4" class="fila"></div>
        </dv>
        <div class="botones-registro fila">
            <a href="{% url 'vehiculos' %}" class="btn-secundario">Cancelar</a>
            <button type="submit" class="btn-principal">Eliminar</button>
        </div>
    </form>
</div>  
{% endblock vehiculos_content %}