{% extends 'vehiculos.html' %}
{% block content %}
<header>
    <section class="opciones-header">
        <section class="filtros fila">
            <p class="fila borde-der"><i class="fa-solid fa-rectangle-list i-header"></i><span>Mostrar</span></p>
            <a href="{% url 'vehiculos' %}" class="fila {% if request.path == '/vehiculos/' %} filtro-active {% endif %}">Todos</a>
            <a href="{% url 'vehiculos_estado' estado='activo' %}" class="fila {% if request.path == '/vehiculos/filtro/activo' %} filtro-active {% endif %}">Activos</a>
            <a href="{% url 'vehiculos_estado' estado='inactivo' %}" class="fila {% if request.path == '/vehiculos/filtro/inactivo' %} filtro-active {% endif %}">Inactivos</a>
        </section>
        <section class="registrar">
            <a href="{% url 'registrar_vehiculo' %}" class="btn-header fila"><i class="fa-solid fa-plus i-header"></i><span>Registrar vehículo</span></a>
         </section> 
         <form class="buscador fila" action="{% url 'buscar_vehiculos' busqueda='busqueda' %}" method="get">
            <input type="text" name="busqueda" placeholder="Buscar vehículo" class="buscador-input">
            <button class="buscar" type="submit"><i class="fa-solid fa-magnifying-glass lupita"></i></button>
        </form>
    </section>
</header>
{% endblock content %}