{% extends 'clientes.html' %}
{% block content %}
<header class="header fila">
    <section class="opciones-header fila">
        <section class="filtros fila">
            <p class="fila borde-der"><i class="fa-solid fa-rectangle-list i-header"></i><span>Mostrar</span></p>
            <a href="{% url 'clientes' %}" class="fila {% if request.path == '/clientes/' %} filtro-active {% endif %}">Todos</a>
            <a href="{% url 'clientes_estado' estado='activo' %}" class="fila {% if request.path == '/clientes/filtro/activo' %} filtro-active {% endif %}">Activos</a>
            <a href="{% url 'clientes_estado' estado='inactivo' %}" class="fila {% if request.path == '/clientes/filtro/inactivo' %} filtro-active {% endif %}">Inactivos</a>
        </section>
        <section class="registrar">
            <a href="{% url 'registrar_cliente' %}" class="btn-header fila sombra-luz"><i class="fa-solid fa-user-plus i-header"></i><span>Registrar cliente</span></a>
        </section>
        <form class="buscador fila" action="{% url 'buscar_clientes' busqueda='busqueda' %}" method="get">
            <input type="text" placeholder="Buscar cliente" class="buscador-input" name="busqueda" >
            <button class="buscar" type="submit"><i class="fa-solid fa-magnifying-glass lupita"></i></button>
        </form>
    </section>
</header>
{% endblock content %}