{% extends 'gastos.html' %}
{% block gastos_content %}
<div class="contabilidad fila">
    <div class="seccion-meses columna">
        {% if resultado_empleados or resultado_vehiculos %}
        <div class="tarjeta">
            <section class="id-tarjeta dia fila">
                <p class="id-dia">GASTOS EMPLEADOS {{mes | upper}} {{anio}}</p>
            </section>
            <div class="tarjeta-contabilidad tarjeta-mes">
                <div class="tabla-mes">
                    <div class="box-resultado">
                        <ul class="contenido-tabla-mes cabecera-tabla-mes fila">
                            <li class="id-col">ID</li>
                            <li class="id-col">ID Empleado</li>
                            <li>Nombre y Apellido</li>
                            <li>Fecha</li>
                            <li>Total</li>
                            <li class="edicion"></li>
                        </ul>
                        {% for gasto in resultado_empleados %}
                            <ul class="contenido-tabla-mes renglon-mes fila">
                                <li class="id-col">{{ gasto.id }}</li>
                                <li class="id-col">{% if gasto.id_empleado.id %}{{  gasto.id_empleado.id }}{% else %}Eliminado{%endif%}</li>
                                <li>{% if gasto.id_empleado.id %}{{ gasto.id_empleado.nombre }} {{ gasto.id_empleado.apellido }}{% else %}Eliminado{%endif%}</li>
                                <li>{{ gasto.fecha|date:"F Y"|capfirst }}</li>
                                <li>$ {{ gasto.total }}</li>
                                <li class="edicion">
                                    <form action="{% url 'gastos_eliminar' gasto.fecha|date:'m' gasto.fecha|date:'Y' gasto.id  'Empleado' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-eliminar-cont"><i class="fa-solid fa-trash-can"></i></button>
                                    </form>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div> 
                <div class="tabla-total">
                    <ul class="fila">
                        <li>$ {{total_empleados}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="tarjeta">
            <section class="id-tarjeta dia fila">
                <p class="id-dia">GASTOS VEHÍCULOS {{mes | upper}} {{anio}}</p>
            </section>
            <div class="tarjeta-contabilidad tarjeta-mes">
                <div class="tabla-mes">
                    <div class="box-resultado">
                        <ul class="contenido-tabla-mes cabecera-tabla-mes fila">
                            <li class="id-col">ID</li>
                            <li class="id-col">ID Vehículo</li>
                            <li class="id-col">Patente</li>
                            <li>Fecha</li>
                            <li>Motivo</li>
                            <li>Total</li>
                            <li class="edicion"></li>
                        </ul>
                        {% for resultado in resultado_vehiculos %}
                            <ul class="contenido-tabla-mes renglon-mes fila">
                                <li class="id-col">{{ resultado.id }}</li>
                                <li class="id-col">{% if resultado.id_vehiculo.id %}{{  resultado.id_vehiculo.id }}{% else %}Eliminado{%endif%}</li>
                                <li class="id-col">{% if resultado.id_vehiculo.id %}{{  resultado.id_vehiculo.patente|upper }}{% else %}Eliminado{%endif%}</li>
                                <li>{{ resultado.fecha|date:"F Y"|capfirst }}</li>
                                <li>{{ resultado.motivo.motivo }}</li>
                                <li>$ {{ resultado.total }}</li>
                                <li class="edicion">
                                    <form action="{% url 'gastos_eliminar' resultado.fecha|date:'m' resultado.fecha|date:'Y' resultado.id 'Vehiculo' %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-eliminar-cont"><i class="fa-solid fa-trash-can"></i></button>
                                    </form>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div> 
                <div class="tabla-total">
                    <ul class="fila">
                        <li>$ {{total_vehiculos}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% else %}
        <section class="tarjeta">
            <section class="id-tarjeta dia fila">
                <p class="id-dia">SIN RESULTADOS</p>
            </section>
            <div class="tarjeta-mes-sin">
                <p id="sin-resultados-i">Oops.. Sin resultados.</p>
            </div>
        </section>
        {% endif %}
    </div>
    <div class="seccion-contabilidad columna">    
        <div class="tarjeta">
            <section class="id-tarjeta dia fila">
                <p class="id-dia">SUELDOS</p>
            </section>
            <div class="tarjeta-contabilidad">
                <div class="tabla-mes">
                    <div class="box-tabla">
                        <ul class="contenido-tabla-mes cabecera-tabla-mes fila">
                            <li>Puesto</li>
                            <li>Sueldo</li>
                            <li class="edit-g"></li>
                        </ul>
                        {% for puesto in puestos %}
                        {% if puesto.puesto != 'Ninguno' %}
                        <ul class="contenido-tabla-mes renglon-mes fila">
                            <li>{{puesto.puesto}}</li>
                            <li>$ {{puesto.sueldo| floatformat:0}}</li>
                            <li class="edit-g"><a href="{% url 'modificar_sueldo' puesto.puesto %}" class="lapicito"><i class="fa-solid fa-pencil i-tarjeta-id"></i></a></li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </div> 
                </div> 
            </div>
        </div>
        {% if anio %}
        <div class="tarjeta facturacion-total">
            <section class="id-tarjeta dia fila">
                <p class="id-dia">GASTOS TOTALES {{anio}}</p>
            </section>        
            <div class="tarjeta-contabilidad">
                <div class="tabla-mes tabla-anual">
                    <div class="box-tabla">
                        <ul class="contenido-tabla-mes cabecera-tabla-mes fila">
                            <li>Mes</li>
                            <li>Total</li>
                        </ul>
                    {% for total in total_gastado %}
                       <ul class="contenido-tabla-mes renglon-mes fila">
                            <li>{{ total.mes }}</li>
                            <li>$ {{ total.total }}</li>
                        </ul> 
                    {% endfor %}  
                    </div>
                </div>
                <div class="tabla-total">
                    <ul class="fila">
                        <li>$ {{total_gastado_anualmente}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock gastos_content %}