{% extends 'ingresos.html' %}
{% block content %}
<header class="cabecera-pag item-pag-2 fila">
    <section class="opciones-header fila">
        <section class="desplegable-anios columna">
            <div class="titulo-desplegable fila">
                <h4>Categorías</h4><i class="fa-solid fa-angle-down i-header"></i>
            </div>
            <ul class="categorias-desplegable-anios">
                <div class="linea"></div>
            {% for anio in anios %}
                <li class="fila"><a class="categoria fila"><span>{{ anio }}</span><i class="fa-solid fa-angle-right i-header"></i></a>
                    <ul class="desplegable-meses">
                        <li><a href="{% url 'ingresos_anio_mes' anio '01' %}" class="subcategoria fila">Enero</a></li>
                        <li><a href="{% url 'ingresos_anio_mes' anio '02' %}" class="subcategoria fila">Febrero</a></li>
                        <li><a href="{% url 'ingresos_anio_mes' anio '03' %}" class="subcategoria fila">Marzo</a></li>
                        <li><a href="{% url 'ingresos_anio_mes' anio '04' %}" class="subcategoria fila">Abril</a></li>
                        <li><a href="{% url 'ingresos_anio_mes' anio '05' %}" class="subcategoria fila">Mayo</a></li>
                        <li><a href="{% url 'ingresos_anio_mes' anio '06' %}" class="subcategoria fila">Junio</a></li>
                        <li><a href="{% url 'ingresos_anio_mes' anio '07' %}" class="subcategoria fila">Julio</a></li>
                        <li><a href="{% url 'ingresos_anio_mes' anio '08' %}" class="subcategoria fila">Agosto</a></li>
                        <li><a href="{% url 'ingresos_anio_mes' anio '09' %}" class="subcategoria fila">Septiembre</a></li>
                        <li><a href="{% url 'ingresos_anio_mes' anio '10' %}" class="subcategoria fila">Octubre</a></li>
                        <li><a href="{% url 'ingresos_anio_mes' anio '11' %}" class="subcategoria fila">Noviembre</a></li>
                        <li><a href="{% url 'ingresos_anio_mes' anio '12' %}" class="subcategoria fila">Diciembre</a></li>
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </section>
        <form class="actualizar" action="{% url 'ingresos' %}" method="post">
            {% csrf_token %}
            <button class="btn-header fila btn-contabilidad"><i class="fa-solid fa-arrows-rotate i-header"></i><span>Actualizar</span></button>
        </form>
    </section>
</header>
{% endblock content %}