{% extends 'ingresos.html' %}
{% block ingresos_content %}   
<div class="contabilidad">
    <div class="seccion-meses">
        {% if resultado %}
        <div class="tarjeta">
            <section class="id-tarjeta dia fila">
                <p class="id-dia">INGRESOS {{mes | upper}} {{anio}}</p>
            </section>
            <div class="tarjeta-contabilidad tarjeta-mes">
                <div class="tabla-mes">
                    <div class="box-resultado">
                        <ul class="contenido-tabla-mes cabecera-tabla-mes fila">
                            <li class="id-col">ID</li>
                            <li class="id-col">ID Familiar</li>
                            <li>Fecha</li>
                            <li>Descuento</li>
                            <li>Total</li>
                            <li class="edicion"></li>
                        </ul>
                        {% for ingreso in resultado %}
                            <ul class="contenido-tabla-mes renglon-mes fila">
                                <li class="id-col">{{ ingreso.id }}</li>
                                <li class="id-col">{% if ingreso.id_familiar %}{{ ingreso.id_familiar }}{% else %}Eliminado{%endif%}</li>
                                <li>{{ ingreso.fecha|date:"F Y"|capfirst }}</li>
                                <li>% {{ ingreso.descuento }}</li>
                                <li>$ {{ ingreso.total }}</li>
                                <li class="edicion">
                                    <form action="{% url 'ingresos_eliminar' ingreso.fecha|date:'m' ingreso.fecha|date:'Y' ingreso.id  %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn-eliminar-cont"><i class="fa-solid fa-trash-can"></i></button>
                                    </form>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                </div> 
                <div class="tabla-total">
                    <ul class="fila">
                        <li>$ {{total}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% else %}
        <section class="tarjeta">
            <section class="id-tarjeta dia fila">
                <p class="id-dia">SIN RESULTADOS</p>
            </section>
            <div class="tarjeta-mes-sin">
                <p id="sin-resultados-i">Oops.. Sin resultados.</p>
            </div>
        </section>
        {% endif %}
    </div>
    <div class="seccion-contabilidad">    
        <div class="tarjeta">
            <section class="id-tarjeta dia fila">
                <p class="id-dia">PRECIOS</p>
            </section>
            <div class="tarjeta-contabilidad">
                <div class="tabla-mes">
                    <div class="box-tabla">
                        <ul class="contenido-tabla-mes cabecera-tabla-mes fila">
                            <li>Tipo de viaje</li>
                            <li>Precio</li>
                            <li class="edit-g"></li>
                        </ul>
                        {% for precio in precios %}
                        {% if precio.tipo != 'Ninguno' %}
                        <ul class="contenido-tabla-mes renglon-mes fila">
                            <li>{{precio.tipo}}</li>
                            <li>$ {{precio.total| floatformat:0}}</li>
                            <li class="edit-g"><a href="{% url 'modificar_cuota' precio.id %}" class="lapicito"><i class="fa-solid fa-pencil i-tarjeta-id"></i></a></li>
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div> 
            </div>
        </div>
        {% if anio %}
        <div class="tarjeta facturacion-total">
            <section class="id-tarjeta dia fila">
                <p class="id-dia">FACTURACIÓN TOTAL {{anio}}</p>
            </section>        
            <div class="tarjeta-contabilidad">
                <div class="tabla-mes tabla-anual">
                    <div class="box-tabla">
                        <ul class="contenido-tabla-mes cabecera-tabla-mes fila">
                            <li>Mes</li>
                            <li>Total</li>
                            <!-- <li class="edicion"></li> -->
                        </ul>
                    {% for total in total_facturado %}
                       <ul class="contenido-tabla-mes renglon-mes fila">
                            <li>{{ total.mes }}</li>
                            <li>$ {{ total.total }}</li>
                        </ul> 
                    {% endfor %}  
                    </div>
                </div>
                <div class="tabla-total">
                    <ul class="fila">
                        <li>$ {{total_anual}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock ingresos_content %}