{% extends 'ingresos.html' %}
{% block ingresos_content %}   
<div class="contabilidad fila">
    <div class="seccion-meses columna">
        {% if resultado %}
        <div class="tarjeta">
            <section class="id-tarjeta dia fila">
                <p class="id-dia">INGRESOS {{mes | upper}} {{anio}}</p>
            </section>
            <div class="tarjeta-contabilidad tarjeta-mes">
                <div class="tabla-mes">
                    <ul class="contenido-tabla-mes cabecera-tabla-mes fila">
                        <li>ID</li>
                        <li>ID Familiar</li>
                        <li>Fecha</li>
                        <li>Descuento</li>
                        <li>Total</li>
                        <!-- <li class="edicion"></li> -->
                    </ul>
                    <div class="box-resultado">
                        {% for ingreso in resultado %}
                            <ul class="contenido-tabla-mes renglon-mes fila">
                                <li>{{ ingreso.id }}</li>
                                <li>{{ ingreso.id_familiar }}</li>
                                <li>{{ ingreso.fecha|date:"F Y" }}</li>
                                <li>% {{ ingreso.descuento }}</li>
                                <li>$ {{ ingreso.total }}</li>
                                <!-- <li class="edicion fila"><i class="fa-solid fa-pencil i-tarjeta-id"></i><i class="fa-solid fa-trash-can i-tarjeta-id"></i></li> -->
                            </ul>
                        {% endfor %}
                    </div>
                </div> 
                <div class="tabla-total">
                    <ul class="fila">
                        <li>$ {{total}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% else %}
        <section class="tarjeta">
            <section class="id-tarjeta dia fila">
                <p class="id-dia">SIN RESULTADOS</p>
            </section>
            <div class="tarjeta-mes-sin">
                <p id="sin-resultados-i">Oops.. Sin resultados.</p>
            </div>
        </section>
        {% endif %}
    </div>
    <div class="seccion-contabilidad columna">    
        <div class="tarjeta">
            <section class="id-tarjeta dia fila">
                <p class="id-dia">PRECIOS</p>
                <i class="fa-solid fa-pencil i-tarjeta-id"></i>
            </section>
            <div class="tarjeta-contabilidad">
                <div class="tabla-mes">
                    <ul class="contenido-tabla-mes cabecera-tabla-mes fila">
                        <li>Tipo de viaje</li>
                        <li>Precio</li>
                        <!-- <li class="edicion"></li> -->
                    </ul>
                    {% for precio in precios %}
                    {% if precio.tipo != 'Ninguno' %}
                    <ul class="contenido-tabla-mes renglon-mes fila">
                        <li>{{precio.tipo}}</li>
                        <li>$ {{precio.total}}</li>
                        <!-- <li class="edicion fila"><i class="fa-solid fa-pencil i-tarjeta-id"></i><i class="fa-solid fa-trash-can i-tarjeta-id"></i></li> -->
                    </ul>
                    {% endif %}
                    {% endfor %}
                </div> 
            </div>
        </div>
        {% if anio %}
        <div class="tarjeta facturacion-total">
            <section class="id-tarjeta dia fila">
                <p class="id-dia">FACTURACIÓN TOTAL {{anio}}</p>
            </section>        
            <div class="tarjeta-contabilidad">
                <div class="tabla-mes tabla-anual">
                    <ul class="contenido-tabla-mes cabecera-tabla-mes fila">
                        <li>Mes</li>
                        <li>Total</li>
                        <!-- <li class="edicion"></li> -->
                    </ul>
                    <div class="box-tabla">
                    {% for total in total_facturado %}
                       <ul class="contenido-tabla-mes renglon-mes fila">
                            <li>{{ total.mes }}</li>
                            <li>$ {{ total.total }}</li>
                        </ul> 
                    {% endfor %}  
                    </div>
                </div>
                <div class="tabla-total">
                    <ul class="fila">
                        <li>$ {{total_anual}}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock ingresos_content %}