/* Seccion del header comun para toda las paginas */
.opciones-header{
    display: flex;
    flex-direction: row;
    padding: 0px 0px 20px 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.i-header{
    font-size: 12px;
}
.btn-header{
    height: 100%;
    padding: 0px 20px;
    color: var(--color_borde_id_tarjeta);
    border: 1px solid var(--color_borde_id_tarjeta);
    background-color: #ffffff00;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.btn-header span{
    padding: 10px 20px;
    font-size: 16px;
}
.btn-header:hover{
    color: var(--color_blanco);
    border-color: var(--color_blanco);
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-header:active{
    color: var(--color_negro);
    background-color: var(--color_blanco);
    box-shadow: none;
    transition: 0.3s ease;
}
/* filtros */
.filtros{
    width: 35%;
    height: 100%;
    padding-right: 10px ;
    justify-content: start;
    align-items: center;
    border: 1px solid var(--color_borde_id_tarjeta);
    gap: 10px;
    background-color: #ffffff00;
}
.filtros p{
    height: 100%;
    padding: 0px 20px;
    color: var(--color_borde_id_tarjeta);
    background-color: var(--color_translucido);
    align-items: center;
    justify-content: center;
    border-radius: 4px 0px 0px 4px;
    gap: 20px;
    cursor: default;
}
.filtros a{
    width: 100%;
    padding: 10px 0px;
    position: relative;
    color: var(--color_borde_id_tarjeta);
    justify-content: center;
    height: 50%;
}
.filtros select{
    margin: 6px 0px;
}
.filtros:hover{
    border-color: var(--color_blanco);
    transition: 0.3s ease;
}
.filtros:hover .borde-der{
    border-right: 1px solid var(--color_blanco);
}
.filtros:hover p{
    color: var(--color_blanco);
    transition: 0.3s ease;
}
.filtros a:hover{
    color: var(--color_blanco);
    transition: 0.3s ease;
}
.filtro-active .filtros-seleccion{
    color: var(--color_negro);
}
.semana{
    width: 72% !important;
}
.borde-der{
    border-right: 1px solid var(--color_borde_id_tarjeta);
}
.filtro-active{
    color: var(--color_principal)!important;
}
/* registro */
.registrar{
    width: 25%;
    height: 100%;
}
/*  Buscador */
.buscador{
    height: 100%;
    width: 35%;
    align-items: center;
    justify-content: start;
    color: var(--color_blanco);
    border: 1px solid var(--color_borde_id_tarjeta);
    background-color: #ffffff00;
    /* animation: fadeIn 0.8s ease-in-out forwards; */
}
.buscador:hover{
    border-color: var(--color_blanco);
    transition: 0.3s ease;
}
.buscador-input{
    width: 100%;
    height: 65%;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 300;
    color: var(--color_blanco);
    background-color: #ffffff00;
    border-radius: 5px 0px 0px 5px;
    border: none;
}
.buscador-input::placeholder{
    color: var(--color_borde_id_tarjeta);
}
input[type="text"]:not(:focus) {
    color: var(--color_borde_id_tarjeta);
    transition: 0.3s ease;
}
.buscar{
    height: 98%;
    padding: 11px 10px 10px 10px;
    border-radius: 0px 5px 5px 0px;
    background-color: #ffffff00;
    border: none;
    border-left: none;
}
.buscar i{
    font-size: 18px;
}
.lupita{
    color: var(--color_borde_id_tarjeta);
}
.buscador-input:hover + .buscar .lupita {
    color: var(--color_blanco) !important;
    transition: 0.3s ease;
}
.buscar:hover{
    color: var(--color_blanco);
    cursor: pointer;
}
.buscar:hover .lupita{
    color: var(--color_blanco);
}

/* RESPONSIVE */

@media (max-width: 1500px) {
    .opciones-header{
        flex-direction: column;
    }
    .filtros{
        width: 98.5%;
        margin-bottom: 5px;
    }
    .registrar{
        width: 100%;
        margin-bottom: 5px;
    }
    .buscador{
        width: 100%;
        margin-bottom: 5px;
    }
}