#navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 12%;
    position: fixed;
    top: 0;
    left: 0;
    width: 76%;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(10, 10, 10);
    border: none;
    box-shadow: 1px 1px 10px #000000;
    z-index: 999;
}
#navbar a{
    display: flex;
    flex-direction: row;
    width: 16.6%;
    height: 100%;
    color: var(--color_info_a);
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}
.borde{
    border-left: 1px solid var(--color_translucido_g);
}
.i-navbar{
    padding: 0px 20px 0px 0px;
    font-size: 12px;
}
#navbar a:hover{
    color:var(--color_blanco);
}
#navbar a:active{
    color: var(--color_info);
}
.active span, .active i{
    color: var(--color_principal);
}

/* RESPONSIVE */

@media (max-width: 1200px) {
    #navbar{
        width: 90%;
        padding: 20px 5%;
    }
    #navbar a{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #navbar a span{
        font-size: 10px;
    }
    .i-navbar{
        font-size: 36px;
        padding: 0px;
    }
}