{% extends 'empleados.html' %}
{% block empleados_content %}
    {% if empleados %}
        {% for empleado in empleados %}
            <div class="tarjeta sombra-luz">
                <section class="id-tarjeta fila">
                    <section class="actividad fila">
                        {% if empleado.puesto.puesto != Null %}
                        <p class="activo">#{{empleado.id}}</p>
                        {% else %}
                        <p class="inactivo">#{{empleado.id}}</p>
                        {% endif%}
                    </section>
                    <section class="fila">
                        <a href="{% url 'modificar_empleado' empleado.id %}" class="fila borde"><i class="fa-solid fa-pencil i-tarjeta-id"></i><span>Modificar</span></a>
                        <a href="{% url 'eliminar_empleado' empleado.id %}" class="fila borde"><i class="fa-solid fa-trash-can i-tarjeta-id"></i><span>Eliminar</span></a>
                    </section>
                </section>
                <div class="grid-tarjeta-empleados">
                    <a href="https://wa.me/+540{{ empleado.celular }}" target="_blank" class="redirigir seccion-1-mostrar tam-seccion fila">
                        <section class="fila">
                            <i class="fa-solid fa-address-card i-tarjetas"></i>
                            <section>
                                {% if empleado.puesto.puesto != Null %}
                                <p class="renglon-1 desborde">{{empleado.puesto.puesto}}</p>
                                {% else %}
                                <p class="renglon-1 desborde">Sin asignar</p>
                                {% endif %}
                                <p class="renglon-2 desborde">{{empleado.nombre}} {{empleado.apellido}}</p>
                                <p class="renglon-3 desborde renglon-3-info">{{empleado.celular}}</p>
                            </section>
                        </section>
                        <section class="fila wsp-maps">
                            <i class="fa-brands fa-whatsapp redirigir-i"></i>
                            <i class="fa-solid fa-chevron-right ir"></i>
                        </section>
                    </a>
                    <section class="seccion-1-mostrar tam-seccion fila">
                        <i class="fa-solid fa-bus i-tarjetas"></i>
                        <section>
                            <p class="renglon-1 desborde">Vehículo asignado</p>
                            {% if empleado.vehiculo_asignado == 'Sin asignar' %}
                            <p class="renglon-2 desborde">{{ empleado.vehiculo_asignado }}</p>
                            {% else %}
                            <p class="renglon-2 desborde">{{ empleado.vehiculo_asignado.patente|upper }}</p>
                            {% endif %}
                        </section>
                    </section>
                    {% if empleado.vehiculo_asignado != 'Sin asignar' %}
                    <a href="{% url 'recorridos' empleado.vehiculo_asignado.id 'lunes' %}" class="seccion-1-mostrar tam-seccion fila redirigir">
                    {% else %}
                    <section class="seccion-1-mostrar tam-seccion fila">
                    {% endif %}
                        <div class="fila">
                            <i class="fa-solid fa-map-location-dot i-tarjetas"></i>
                            <section class="columna">
                                <p class="renglon-1 desborde">Recorridos asignados</p>
                                <section class="fila r2r">
                                    <p class="renglon-2-r desborde">L</p>
                                    <p class="renglon-2-r desborde">M</p>
                                    <p class="renglon-2-r desborde">X</p>
                                    <p class="renglon-2-r desborde">J</p>
                                    <p class="renglon-2-r desborde">V</p>
                                </section>
                                <section class="fila r2r">
                                    <p class="renglon-3-r desborde">{%if empleado.l%}{{empleado.l}}{%else%}0{%endif%}</p>
                                    <p class="renglon-3-r desborde">{%if empleado.m%}{{empleado.m}}{%else%}0{%endif%}</p>
                                    <p class="renglon-3-r desborde">{%if empleado.x%}{{empleado.x}}{%else%}0{%endif%}</p>
                                    <p class="renglon-3-r desborde">{%if empleado.j%}{{empleado.j}}{%else%}0{%endif%}</p>
                                    <p class="renglon-3-r desborde">{%if empleado.v%}{{empleado.v}}{%else%}0{%endif%}</p>
                                </section>
                            </section>
                        </div>
                        <section class="fila wsp-maps">
                            <i class="fa-solid fa-gear redirigir-i"></i>
                            <i class="fa-solid fa-chevron-right ir"></i>
                        </section>
                    {% if empleado.vehiculo_asignado != 'Sin asignar' %}
                    </a>
                    {% else %}
                    </section>
                    {% endif %}
                    <section class="seccion-1-mostrar tam-seccion fila">
                        <i class="fa-solid fa-coins i-tarjetas"></i>
                        <section>
                            <p class="renglon-1 desborde">Sueldo</p>
                            {% if empleado.puesto.puesto == Null %}
                            <p class="renglon-2 desborde">$0</p>
                            {% else %}
                            <p class="renglon-2 desborde">${{empleado.puesto.sueldo}}</p>
                            {% endif %}
                        </section>
                    </section>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% include "sin_resultados.html" %}
    {% endif %}
{% endblock empleados_content %}